ErrorDocument 404 /404.html

# Redirect all non-existent files and directories to 404 page
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404.html [L,R=404] 