<header>
    <h1><i class="fa-solid fa-road"></i> How's The Roads?</h1>
    <nav>
        <a href="javascript:void(0);" 
           onclick="openWeatherModal()"
           title="View detailed KC weather forecast">
            <h2 id="temperature-text">fetching...</h2>
        </a>
        <a href="https://apps.apple.com/us/app/hows-the-roads/id6742173400" target="_blank" class="highlight highlight-app">Get the app <small>New!</small><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </nav>
</header> 